<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/CSS/main.css">
<script type="text/javascript" src="../static/JavaScript/main.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Seán's Website</title>

</head>
<body>
<div id="page"></div>

<div id="main">
  <div class="c">
    <div class="search-bar">
      <div class="glass-icon">
        <div class="glass-icon-c">
          <span class="glass-icon__circle"></span>
          <span class="glass-icon__stick"></span>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>